/* Cor de fundo para a página */
body {
    background-color: #ADD8E6; /* Azul claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Container dos vídeos */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilo para os itens dos vídeos */
.video-item {
    margin: 10px;
    text-align: center;
    width: 33%;
    box-sizing: border-box;
}

/* Responsividade - Para telas menores */
@media (max-width: 768px) {
    .video-item {
        width: 100%;
    }
}
